/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 19, 2021, 9:12:43 AM
    Author     : Sebastian

CURRENTLY AT THE 8 MINUTE MARK IN TUTORIAL 5
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container, 
.products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-bottom: 100px;
}

.image {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

.productPic{
    width: 400px ;
    height: 200px;
    object-fit: contain;
}

.add-cart {
    position: absolute;
    width: 100%;
    background-color: #cddbe7;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;
}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5,
.image:hover .cart6,
.image:hover .cart7,
.image:hover .cart8,
.image:hover .cart9,
.image:hover .cart10,
.image:hover .cart11,
.image:hover .cart12
{
    bottom: 50px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}


/*----------------------- CART PAGE STYLING ----------------------- */

.products-container {
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
    margin-top: 50px;
}

.products-container ion-icon {
    font-size: 25px;
    color: #6993b8;
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
    
}

.product-header {
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid #9bb7d0;
    margin: 0 auto;
}

.product-title {
    width: 45%;
}

.price {
    width: 15%;
    display: flex;
    align-items: center;
}

.quantity {
    width: 30%;
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    display: flex;
    align-items: center;
}

.product {
    width: 45%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.products img {
    width: 75px;
}

.basketTotalContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.baskeTotalTitle {
    width: 30%;
}

.basketTotal {
    width: 10%;
}